<p id="notice"><%= notice %></p>
<h1>  Circ Response Data goes here... </h1>
<p>
  <strong>Insertid:</strong>
  <%= @insert.insertid %>
</p>

<p>
  <strong>Inserttypecode:</strong>
  <%= @insert.inserttypecode %>
</p>

<p>
  <strong>Pubcode:</strong>
  <%= @insert.pubcode %>
</p>

<p>
  <strong>Positioncode:</strong>
  <%= @insert.positioncode %>
</p>

<p>
  <strong>Paperstockid:</strong>
  <%= @insert.paperstockid %>
</p>

<p>
  <strong>Methodid:</strong>
  <%= @insert.methodid %>
</p>

<p>
  <strong>Subtypeid:</strong>
  <%= @insert.subtypeid %>
</p>

<p>
  <strong>Createdby:</strong>
  <%= @insert.createdby %>
</p>

<p>
  <strong>Updatedby:</strong>
  <%= @insert.updatedby %>
</p>

<p>
  <strong>Adstatuscode:</strong>
  <%= @insert.adstatuscode %>
</p>

<p>
  <strong>Adstatusfursncode:</strong>
  <%= @insert.adstatusfursncode %>
</p>

<p>
  <strong>Advacct:</strong>
  <%= @insert.advacct %>
</p>

<p>
  <strong>Pressrunlonumber:</strong>
  <%= @insert.pressrunlonumber %>
</p>

<p>
  <strong>Stagecode:</strong>
  <%= @insert.stagecode %>
</p>

<p>
  <strong>Colorcode:</strong>
  <%= @insert.colorcode %>
</p>

<p>
  <strong>Packagenumber:</strong>
  <%= @insert.packagenumber %>
</p>

<p>
  <strong>Issuedate:</strong>
  <%= @insert.issuedate %>
</p>

<p>
  <strong>Productline:</strong>
  <%= @insert.productline %>
</p>

<p>
  <strong>Materialdesc:</strong>
  <%= @insert.materialdesc %>
</p>

<p>
  <strong>Batchnumber:</strong>
  <%= @insert.batchnumber %>
</p>

<p>
  <strong>Width:</strong>
  <%= @insert.width %>
</p>

<p>
  <strong>Height:</strong>
  <%= @insert.height %>
</p>

<p>
  <strong>Pages:</strong>
  <%= @insert.pages %>
</p>

<p>
  <strong>Perccircb:</strong>
  <%= @insert.perccircb %>
</p>

<p>
  <strong>Adlinage:</strong>
  <%= @insert.adlinage %>
</p>

<p>
  <strong>Psreceiveddate:</strong>
  <%= @insert.psreceiveddate %>
</p>

<p>
  <strong>Erop:</strong>
  <%= @insert.erop %>
</p>

<p>
  <strong>Waitlistheld:</strong>
  <%= @insert.waitlistheld %>
</p>

<p>
  <strong>Billedby:</strong>
  <%= @insert.billedby %>
</p>

<p>
  <strong>Eionumber:</strong>
  <%= @insert.eionumber %>
</p>

<p>
  <strong>Cncldbysalesrep:</strong>
  <%= @insert.cncldbysalesrep %>
</p>

<p>
  <strong>Regional:</strong>
  <%= @insert.regional %>
</p>

<p>
  <strong>Cancelledbyuser:</strong>
  <%= @insert.cancelledbyuser %>
</p>

<p>
  <strong>Fursndate:</strong>
  <%= @insert.fursndate %>
</p>

<p>
  <strong>Transtimefrom:</strong>
  <%= @insert.transtimefrom %>
</p>

<p>
  <strong>Transtimeto:</strong>
  <%= @insert.transtimeto %>
</p>

<p>
  <strong>Transdateto:</strong>
  <%= @insert.transdateto %>
</p>

<p>
  <strong>Overruns:</strong>
  <%= @insert.overruns %>
</p>

<p>
  <strong>Insertnotes:</strong>
  <%= @insert.insertnotes %>
</p>

<p>
  <strong>Materialinmclean:</strong>
  <%= @insert.materialinmclean %>
</p>

<p>
  <strong>Exclusive:</strong>
  <%= @insert.exclusive %>
</p>

<p>
  <strong>Schedulernotes:</strong>
  <%= @insert.schedulernotes %>
</p>

<p>
  <strong>Transdate:</strong>
  <%= @insert.transdate %>
</p>

<p>
  <strong>Prepressworkid:</strong>
  <%= @insert.prepressworkid %>
</p>

<p>
  <strong>Weight:</strong>
  <%= @insert.weight %>
</p>

<p>
  <strong>Editorialspace:</strong>
  <%= @insert.editorialspace %>
</p>

<p>
  <strong>Projruncode:</strong>
  <%= @insert.projruncode %>
</p>

<p>
  <strong>Projdblsect:</strong>
  <%= @insert.projdblsect %>
</p>

<p>
  <strong>Straightcollect:</strong>
  <%= @insert.straightcollect %>
</p>

<p>
  <strong>Sectionname:</strong>
  <%= @insert.sectionname %>
</p>

<p>
  <strong>Allprintsites:</strong>
  <%= @insert.allprintsites %>
</p>

<p>
  <strong>Printsiteready:</strong>
  <%= @insert.printsiteready %>
</p>

<%= link_to 'Edit', edit_insert_path(@insert) %> |
<%= link_to 'Back', inserts_path %>
