<p id="notice"><%= notice %></p>

<p>
  <strong>Lookup:</strong>
  <%= @distribution.lookup_id %>
</p>

<p>
  <strong>Level number:</strong>
  <%= @distribution.level_number %>
</p>

<p>
  <strong>Distribution code:</strong>
  <%= @distribution.distribution_code %>
</p>

<p>
  <strong>Description:</strong>
  <%= @distribution.description %>
</p>

<p>
  <strong>Newspaper name:</strong>
  <%= @distribution.newspaper_name %>
</p>

<p>
  <strong>Parent lookup:</strong>
  <%= @distribution.parent_lookup_id %>
</p>

<p>
  <strong>Sort:</strong>
  <%= @distribution.sort %>
</p>

<p>
  <strong>Text active:</strong>
  <%= @distribution.text_active %>
</p>

<p>
  <strong>Active date:</strong>
  <%= @distribution.active_date %>
</p>

<p>
  <strong>Inactive date:</strong>
  <%= @distribution.inactive_date %>
</p>

<p>
  <strong>Pub:</strong>
  <%= @distribution.pub_id %>
</p>

<p>
  <strong>Parent:</strong>
  <%= @distribution.parent_id %>
</p>

<p>
  <strong>Acitve:</strong>
  <%= @distribution.acitve %>
</p>

<p>
  <strong>Created at:</strong>
  <%= @distribution.created_at %>
</p>

<p>
  <strong>Updated at:</strong>
  <%= @distribution.updated_at %>
</p>

<p>
  <strong>Created by:</strong>
  <%= @distribution.created_by %>
</p>

<p>
  <strong>Updated by:</strong>
  <%= @distribution.updated_by %>
</p>

<p>
  <strong>Address:</strong>
  <%= @distribution.address %>
</p>

<%= link_to 'Edit', edit_distribution_path(@distribution) %> |
<%= link_to 'Back', distributions_path %>
