<p id="notice"><%= notice %></p>

<p>
  <strong>Lookupid:</strong>
  <%= @insert_psresponse.lookupid %>
</p>

<p>
  <strong>Insertid:</strong>
  <%= @insert_psresponse.insertid %>
</p>

<p>
  <strong>Receiveddate:</strong>
  <%= @insert_psresponse.receiveddate %>
</p>

<p>
  <strong>Conditionid:</strong>
  <%= @insert_psresponse.conditionid %>
</p>

<p>
  <strong>Quantityrec:</strong>
  <%= @insert_psresponse.quantityrec %>
</p>

<p>
  <strong>Receivednote:</strong>
  <%= @insert_psresponse.receivednote %>
</p>

<p>
  <strong>Receivedby:</strong>
  <%= @insert_psresponse.receivedby %>
</p>

<p>
  <strong>Updatedby:</strong>
  <%= @insert_psresponse.updatedby %>
</p>

<%= link_to 'Edit', edit_insert_psresponse_path(@insert_psresponse) %> |
<%= link_to 'Back', insert_psresponses_path %>
