<%= form_for(@insert_pspostresponse) do |f| %>
  <% if @insert_pspostresponse.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@insert_pspostresponse.errors.count, "error") %> prohibited this insert_pspostresponse from being saved:</h2>

      <ul>
      <% @insert_pspostresponse.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :insertid %><br>
    <%= f.number_field :insertid %>
  </div>
  <div class="field">
    <%= f.label :leftover %><br>
    <%= f.number_field :leftover %>
  </div>
  <div class="field">
    <%= f.label :postnote %><br>
    <%= f.text_field :postnote %>
  </div>
  <div class="field">
    <%= f.label :updatedby %><br>
    <%= f.text_field :updatedby %>
  </div>
  <div class="field">
    <%= f.label :latetrucks %><br>
    <%= f.number_field :latetrucks %>
  </div>
  <div class="field">
    <%= f.label :conditionid %><br>
    <%= f.number_field :conditionid %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

