<p id="notice"><%= notice %></p>

<h1>Listing Insert Pspostresponses</h1>

<table>
  <thead>
    <tr>
      <th>Insertid</th>
      <th>Leftover</th>
      <th>Postnote</th>
      <th>Updatedby</th>
      <th>Latetrucks</th>
	  <th>Conditionid</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @insert_pspostresponses.each do |insert_pspostresponse| %>
      <tr>
        <td><%= insert_pspostresponse.insertid %></td>
        <td><%= insert_pspostresponse.leftover %></td>
        <td><%= insert_pspostresponse.postnote %></td>
        <td><%= insert_pspostresponse.updatedby %></td>
        <td><%= insert_pspostresponse.latetrucks %></td>
		<td><%= insert_pspostresponse.conditionid %></td>
        <td><%= link_to 'Show', insert_pspostresponse %></td>
        <td><%= link_to 'Edit', edit_insert_pspostresponse_path(insert_pspostresponse) %></td>
        <td><%= link_to 'Destroy', insert_pspostresponse, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Insert pspostresponse', new_insert_pspostresponse_path %>
