<p id="notice"><%= notice %></p>

<p>
  <strong>Insertid:</strong>
  <%= @insert_pspostresponse.insertid %>
</p>

<p>
  <strong>Leftover:</strong>
  <%= @insert_pspostresponse.leftover %>
</p>

<p>
  <strong>Postnote:</strong>
  <%= @insert_pspostresponse.postnote %>
</p>

<p>
  <strong>Updatedby:</strong>
  <%= @insert_pspostresponse.updatedby %>
</p>

<p>
  <strong>Latetrucks:</strong>
  <%= @insert_pspostresponse.latetrucks %>
</p>

<p>
  <strong>ConditionID:</strong>
  <%= @insert_pspostresponse.conditionid %>
</p>

<%= link_to 'Edit', edit_insert_pspostresponse_path(@insert_pspostresponse) %> |
<%= link_to 'Back', insert_pspostresponses_path %>
