<p id="notice"><%= notice %></p>

<h1>Listing Insert Printmethods</h1>

<table>
  <thead>
    <tr>
      <th>Methodname</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @insert_printmethods.each do |insert_printmethod| %>
      <tr>
        <td><%= insert_printmethod.methodname %></td>
        <td><%= link_to 'Show', insert_printmethod %></td>
        <td><%= link_to 'Edit', edit_insert_printmethod_path(insert_printmethod) %></td>
        <td><%= link_to 'Destroy', insert_printmethod, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Insert printmethod', new_insert_printmethod_path %>
